<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" type="text/css"   href="/stylesheets/BookBestsale.css">
    <link rel="stylesheet" type="text/css"   href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css"   href="/stylesheets/Carousel.css">
    <link rel="stylesheet" type="text/css"   href="/stylesheets/BookDetail.css">
</head>
<body>
    <!-- +++++++++++++++++++++++ Header++++++++++++++++++++++++++++ -->
    <%- include('layout.ejs') %> 
     <!-- +++++++++++++++++++++++ Header++++++++++++++++++++++++++++ -->
     <!-- ++++++++++++++++ Body+++++++++++++++++++++++++++++++++++++ -->
     <div class="container">
        <!-- <div class="row">
            <div class="col-12">
        <div class="imgBook">
        <img src="/images/tesy.jpg" class="img-responsive" alt="">
        
    </div>
        </div>	
        <h2 class="hh">รสชาติของผลไม้ที่ยังไม่สุกงอม</h2>
        </div> -->

        <div class="how-container">
            <div class="left-container">
            <div class="left-content">
                <div class="imgBook">
                    <img src="/images/tesy.jpg" class="img-responsive" alt="">
                    
                </div>
            </div>
          </div>
          <div class="right-container">
              <div class="right-content">
                <h1 style="font-weight: bold;">รสชาติของผลไม้ที่ยังไม่สุกงอม</h1>
               <br>
               <p class="textp">ผู้เขียน : โชนัมจู</p>
               <p class="textp">สำนักพิมพ์: piccolo</p>
               <p class="textp">หมวดหมู่ : วรรณกรรมเรื่องสั้น</p>
               <p class="textp">ประเภทสินค้า : books</p>
               <p class="textp">บาร์โค้ด  : 9786161840488</p>
              </div>
              <br>
              <br>
              <br>
              <div>
                <p class="item-price1"> ราคา <b class="B1">THB499.00</b> <b class="B2"><strike>THB599.00</strike></b> </p>
                <div class="quantity">
                    <input type="number" min="1" max="9" step="1" value="1">
                  </div>
                  <div class="buttonpa">
                  <button class="add1">Add</button>
                  <button class="wish1"><i class="fa fa-heart"></i> Wishlist</button>
                </div>
                <div class="SimP">
                <div class="simpleCircle">
                      แชร์ :
                     
                  <i class="fa fa-envelope fa-2x"></i>
               
                
               
                    <i class="fa fa-twitter fa-2x"></i>
                  <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>

              </div>
          </div>
        </div>
    </div>
<!-- ++++++++++++++++++ 2 book +++++++++++++ -->
<div class="container">
        <div class="imgBook1">
            <img src="/images/tesy.jpg" class="img-responsive" alt="">
           
        </div>
            <div class="imgBook1">
                <img src="/images/tesy1.jpg" class="img-responsive" alt="">
                </div>
<!--       
        <h4  style="text-align:left;">เกี่ยวกับสินค้า</h4>
        <span style="float:right;">
        <h4 >รายละเอียด</h4>
    </span> -->
    <h4 style="text-align:left;">เกี่ยวกับสินค้า
        <span class="aa1">
          <h6 class="sa1">รายละเอียด</h6>
      </span></h4>
     </div>
    <!-- ++++++++++++++++ Body+++++++++++++++++++++++++++++++++++++ -->
    <hr class="solid">
   
    <div class="container">
        <p> <h5></h5>รายละเอียด</h5> รสชาติของผลไม้ที่ยังไม่สุกงอม</p>
        <p> เรื่องราวของเด็กสาวชั้นมัธยมต้นปีที่ 3 ทั้ง 4 คน ที่พากันออกเดินทางไปท่องเที่ยวเกาะเชจูก่อนที่พวกเธอจะได้เลื่อนชั้นไปสู่มัธยมปลาย</p>
        <p> ดายุน โซรัน แฮอิน และอึนจี เด็กสาวทั้งสี่ล้วนเติบโตขึ้นมาในครอบครัวที่แตกต่างกัน ในคืนวันสุดท้ายของการท่องเที่ยว พวกเธอได้เขียนคำ</p>
        <br>
        <br>
        <br>
        <p>สัญญาใส่ลงในไทม์แคปซูล สัญญาที่ว่าพวกเธอเลือกเรียนต่อมัธยมปลายที่โรงเรียนมัธยมปลายชินยองจิน ใครที่รักษาสัญญานี้ไม่ได้จะไม่มี</p>
        <p>สิทธิ์ร่วมทริปเที่ยวในปิดเทอมหน้าร้อนชั้นมัธยมปลายปี 1</p>
        <p>นิยายที่จะสะท้อนความคิดของวัยรุ่นเกาหลีได้อย่างดี ถึงวัยรุ่นนั้นยังเป็นช่วงวัยแห่งการแสวงหาคำตอบ การดำเนินเรื่องราวผ่านชีวิตของ</p>
        <p>เด็กสี่คนสี่รูปแบบ สะท้อนถึงปัจจัยและเหตุผลในการเลือกของเด็กทั้งสี่คน ทุกคนล้วนแล้วแต่มีทางเลือกที่ดีที่สุดของตนเองเสมอ</p>
        <h4 style="text-align:left;">สินค้าที่เกี่ยวข้อง
            <span style="float:right;">
              <h6 class="sa1">ดูสินค้าทั้งหมด</h6>
          </span></h4>
   
          <%- include('BookRecom.ejs') %> 
    </div>

    <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Book 2019</p>
    </div>
     </footer>
     <!-- Footer -->
</body>
<script>
        jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    jQuery('.quantity').each(function() {
      var spinner = jQuery(this),
        input = spinner.find('input[type="number"]'),
        btnUp = spinner.find('.quantity-up'),
        btnDown = spinner.find('.quantity-down'),
        min = input.attr('min'),
        max = input.attr('max');

      btnUp.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue >= max) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue + 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

      btnDown.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue <= min) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue - 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

    });
</script>
</html>